{# 
params:
    classes: <string>
    data:
        quote: <string>
        title: <string>
        portrait: <url>
        position: <string>
#}
{% set overflowClasses = "before:content-[''] before:absolute before:bottom-full before:left-0 before:w-full before:h-12 before:bg-gradient-to-b before:from-transparent before:to-offwhite" %}
<figure class="flex flex-col justify-between border bg-offwhite shadow rounded-md overflow-hidden {{ params.classes }}">
    <blockquote class="relative p-6 text-lg h-48 overflow-y-scroll">&ldquo;{{ params.data.quote }}&rdquo;</blockquote>
    {% if params.data.portrait %}
    <figcaption class="relative bg-white pl-[80px] {{ overflowClasses }}">
    {% else %}
    <figcaption class="relative pl-4 bg-white overflow-x-hidden {{ overflowClasses }}">
    {% endif %}
        <img src="{{ params.data.portrait }}" class="absolute block rounded-full -left-4 -top-4 w-[90px] h-[90px]" alt="">
        <div class="col-start-2 col-end-5 flex flex-col justify-center px-2 pt-2 pb-6">
            <cite class="text-xl font-bold not-italic">{{ params.data.title }}</cite>
            <div class="">{{ params.data.position }}</div>
        </div>
    </figcaption>
</figure>