{%- from "system/component.html" import component -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="website" />
    {% if meta.description %}
    <meta name="description" content="{{meta.description}}"/>
    <meta property="og:description" content="{{meta.description}}"/>
    {% endif %}
    <meta property="og:url" content="https://teachwv.com{{ page.url }}">
    <meta property="og:image" content="/static/img/og-image-default.jpg">
    {% block head %}{% endblock %}

    <link rel="icon" type="image/svg+xml" href="/static/favicon/favicon.svg">
    <link rel="icon" type="image/png" href="/static/favicon/favicon.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J5P9SMS07R">
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J5P9SMS07R');
    </script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Vollkorn:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/fonts/icons/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
    <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WPXKSKJ');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPXKSKJ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div id="skip-link" tabindex="-1" class="bg-brand_lightblue text-white">
      <a class="sr-only focus:not-sr-only block px-5 py-2" href="#main-content">Skip to main content</a>
    </div>

    {{ component('header', {
        navigation: main_menu,
        page: page
      }) }}

    <main id="main-content">
      {{ content | safe }}
    </main>

    {% include "./partials/footer.html" %}

    <!-- Alpine Plugins -->
    <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <!-- Alpine Core -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.2.3/cdn.min.js" defer></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      {# <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> #}
    {% endif %}

  </body>
</html>