---
layout: default
container: true
title: Default Title
subtitle: 
---
{%- from "system/component.html" import component -%}
{% set breadcrumbItems = collections.pages | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}

<div class="relative bg-offwhite border-b">
    <div class="md:container">
        <div class="grid grid-rows-2 md:grid-rows-1 md:grid-cols-3 gap-x-8">
            <div class="md:col-start-1 md:col-end-3 px-6 md:px-0 py-8 md:py-16">
                {{ component('breadcrumb', {
                    items: breadcrumbItems
                }) }}
                <h1 class=" text-4xl md:text-5xl font-bold mb-0">{{ title }}</h1>
            </div>
            <div class="row-start-1 md:col-start-3 md:col-end-4 md:h-full w-full background-repeat: repeat; bg-50% md:bg-cover" style="background-image: url(/static/img/teacher-grid.png); background-position: center;"></div>
        </div>
    </div>
</div>

{% if container %}
<div class="container px-6 py-14">
{% endif %}
    <div class="grid lg:grid-cols-12 gap-default">
        <div class="lg:col-start-1 lg:col-end-4">
            {% include("blocks/sidebarnav.html") %}
        </div>
        <div class="lg:col-start-4 lg:col-end-10">
            {% if subtitle %}
            <div class="text-lg md:text-xl mb-8 markdown-field">{{ subtitle | markdown | safe }}</div>
            {% endif %}
            <div class="markdown-field">
                {{ content | safe }}
            </div>
        </div>
        <aside class="lg:col-start-10 lg:col-end-13">
            {% include 'blocks/global-sidebar.html' %}
        </aside>
    </div>
{% if container %}
</div>
{% endif %}

{% include 'blocks/contact-prefooter.html' %}