---
layout: default
title: Teaching Career Tech
meta:
    description: "Career technical education (CTE) exposes students to various career options. CTE teachers bring industry experience to the classroom, providing students with firsthand knowledge of their chosen career pathway."
tags: ['pages', 'static']
eleventyNavigation:
  order: 0
  title: Career Tech
  key: career-tech
  parent: become-a-teacher
---
{%- from "system/component.html" import component -%}

<div class="py-4">
    <div class="px-4 lg:container text-sm">
        {{ component('breadcrumb', {
            items: collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true })
        }) }}
    </div>
</div>

<div class="py-4 mb-24" style="background: #4477A4;">
    <div class="px-4 lg:container">
        {% image { 
            src: "./src/static/img/cte-welder_21-9.jpg",
            alt: "",
            cls: "block rounded-lg -mb-24",
            styleName: "large",
            lazy: false
        } %}
    </div>
</div>

<div class="container pt-8 md:pt-12 text-center mb-12">
    <h1 class="text-4xl md:text-5xl text-center text-brand_blue">{{ title }}</h1>
    <p class="text-xl max-w-4xl mx-auto">{{ meta.description }}</p>
</div>

{% set reasons = [
  "Empower students by sharing your industry knowledge and expertise.",
  "Prepare students for a successful career.",
  "Paid time off on holidays and through the summer months.",
  "An extensive package that includes retirement and healthcare benefits.",
  "Partner with colleges, businesses, industry leaders and educational industries such as the Southern Regional Education Board and Mountain State Educational Cooperative Services."
  ] %}
<section class="border-t py-8 bg-brand_lightblue">
  <div class="container max-w-6xl">
  <div class="block md:grid md:grid-cols-5 gap-x-default">
      <div class="col-start-1 col-end-3">
      {{ component('titlebar', {
          title: {
              text: "Benefits",
              classes: "text-brand_yellow"
          },
          subtitle: {
              text: "There are many benefits to teaching CTE.",
              classes: "text-white"
          },
          alignment: "left"
      }) }}
      </div>
      <div class="col-start-3 col-end-6">
          <ul class="grid md:grid-cols-2">
              {% for reason in reasons %}
              <li class="md:pr-8 mb-4">
                  <span class="text-lg text-white">{{ reason | safe }}</span>
              </li>
              {% endfor %}
          </ul>
      </div>
  </div>
</section>

{% 
    set steps = [{
        title: "Step 1: Skills Verification and/or Degree",
        body: "<p>Verify that your degree and/or industry experience comply with the requirements outlined in the CTE Endorsement and Testing Manual. Next, register for the CTE Educator Preparation program.</p>"
    },
    {
        title: "Step 2: Employability Testing",
        body: "<p>Contact your local school district and register for the NOCTI Employability Exam, which measures the necessary skills for success in the workplace through reading, mathematics, collaboration and decision-making.</p>"
    },
    {
        title: "Step 3: CTE Mentorship",
        body: "<p>In the first year of teaching, you must complete a CTE mentorship program led by a West Virginia Department of Education coordinator. This program includes in-person collaborative training, classroom visits, individualized support and more.</p>"
    },
    {
        title: "Step 4: CTE Teacher Certification",
        body: "<p>Depending on your CTE discipline, you may be required to take the NOCTI Content and Performance Assessment and/or hold a CTE credential per the CTE Endorsement and Testing Manual. Refer to the NOCTI website for testing blueprints.</p>"
    },
    {
        title: "Completion",
        body: "<p>Congratulations, you have completed all requirements to become a CTE teacher in West Virginia.</p>",
        classes: {
            title: "bg-brand_green text-[white]",
            body: "pt-4"
        }
    }]
%}
<section class="py-12 bg-offwhite">
    <div class="container max-w-3xl">
        <div class="">
            {{ component('titlebar', {
                title: {
                    text: "Become a CTE Teacher"
                },
                subtitle: {
                    text: "The CTE Teacher Certification program provides an accelerated pathway for CTE industry professionals to seek certification as a K-12 educator to teach CTE courses in schools across the Mountain State."
                },
                alignment: "center"
            }) }}
        </div>
        <div class="mb-6">
            {{ component('accordion', {
                classes: 'bg-white',
                data: steps
            }) }}
        </div>
        <div class="text-center">
            <p>View the <a href="/become-a-teacher/career-tech/checklist/" class="underline">complete program checklist</a> for detailed information.</p>
        </div>
    </div>
</section>

{% 
    set actions = [
        {
            title: "Performance Exam",
            description: "Lorem ipsum dolor sit amet.",
            link: {
                text: "Register",
                url: cte.perfExam.url
            }
        },
        {
            title: "Program Registration",
            description: "Register for the CTE Educator Prep program.",
            link: {
                text: "Register",
                url: cte.prepProgramRegistration.url
            }
        }
    ]
%}
<section class="py-12 bg-white">
    <div class="container max-w-3xl">
        <div class="">
            {{ component('titlebar', {
                title: {
                    text: "Ready to get Started?"
                },
                subtitle: {
                    text: "Summary of this..."
                },
                alignment: "center"
            }) }}
        </div>
        <div class="grid md:grid-cols-2 gap-4 mb-6">
            {% for action in actions %}
            <div class="p-4 border rounded-lg bg-offwhite">
                <h2 class="text-center text-xl">{{ action.title }}</h2>
                {% if action.description %}
                <div class="mb-3 text-center">{{ action.description }}</div>
                {% endif %}
                <div class="text-center">
                    {{ component('button', {
                        text: action.link.text,
                        url: action.link.url
                    }) }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% set resourceTypes = {
    flyer: {
        label: 'Flyer',
        classes: 'bg-brand_green text-white'
    },
    form: {
        label: 'Form',
        classes: 'bg-brand_lightblue text-white'
    },
    document: {
        label: 'Document',
        classes: 'bg-brand_yellow'
    }
} %}
{% set resources = [
    {
        title: 'Pathway Flyer',
        url: '/',
        description: 'Flyer illustrating the steps to become a CTE teacher in WV.',
        tags: [ resourceTypes.flyer ]
    },
    {
        title: 'Hiring Flyer',
        url: '/',
        description: 'Download and modify this flyer to list your current CTE openings and contact information.',
        tags: [ resourceTypes.flyer ]
    },
    {
        title: 'Educator Commitment Form',
        url: '/',
        description: 'A mutual commitment between the county and CTE teacher for program completion, offering guidance, support, and resources for success in teaching.',
        tags: [ resourceTypes.form ]
    },
    {
        title: 'Course Descriptions',
        url: '/',
        description: 'Download the full catalog or <a href="/become-a-teacher/career-tech/courses" class="underline">browse course descriptions online</a>.',
        tags: [ resourceTypes.document ]
    },
    {
        title: 'Program Checklist',
        url: '/',
        description: 'This program checklist contains details for the accelerated pathway for individuals who desire to teach career technical education.',
        tags: [ resourceTypes.document ]
    }
] %}
<section class="py-12 bg-white">
    <div class="container max-w-5xl">
        <div class="mb-12">
            {{ component('titlebar', {
                title: {
                    text: "Printable Resources"
                },
                subtitle: {
                    text: "Summary of resources..."
                },
                alignment: "center"
            }) }}
        </div>
        <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-1 bg-offwhite">
            {% for resource in resources %}
            {{ component('resource-card', {
                url: resource.url,
                title: resource.title,
                description: resource.description,
                tags: resource.tags,
                classes: {
                    container: 'bg-white p-4'
                }
            }) }}
            {% endfor %}
        </div>
    </div>
</section>