{%- from "system/component.html" import component -%}
<article class="{{ params.wrapperClasses }}">
    <div class="mb-4 {{ params.imageWrapperClasses }}">
        {% if params.link.url %}<a href="{{ params.link.url }}" {{ 'rel=noopener' if params.link.external }} aria-label="{{ params.link.text }}" class="block transform hover:scale-1025" target="{{ params.link.target or '_self' }}">{% endif %}
        {% if params.image.src %}
            {% image { 
                src: params.image.src, 
                alt: params.image.alt, 
                cls: "inline-block rounded-default " + params.image.classes,
                styleName: "medium_half"
            } %}
        {% else %}
            {% image { 
                src: "./src/static/img/default-image.png", 
                alt: params.image.alt, 
                cls: "inline-block rounded-default " + params.image.classes,
                styleName: "medium_half"
            } %}
        {% endif %}
        {% if params.link.url %}</a>{% endif %}
    </div>

    <div class="{{ params.contentWrapperClasses }}">
        {% if params.title %}
        <h1 class="text-2xl {{ params.titleClasses }}">
            {% if params.link.url %}<a href="{{ params.link.url }}" {{ 'rel=noopener' if params.link.external }} target="{{ params.link.target or '_self' }}">{% endif %}
            {{ params.title }}
            {% if params.link.external == true %}
            <svg width="12" height="12" class="inline-block ml-1 mb-2" viewBox="0 0 40 40" fill="inherit" xmlns="http://www.w3.org/2000/svg">
                <path d="M40 32.5554L40 2.5808e-06L7.44455 0L7.44455 9.48877L23.838 9.4502L0 33.2882L6.71153 39.9997L30.5495 16.1617L30.5109 32.5552L40 32.5554Z" fill="inherit" />
            </svg>
            {% endif %}
            {% if params.link.url %}</a>{% endif %}
        </h1>
        {% endif %}

        {% if params.body %}
        <div class="mb-4 text-lg">{{ params.body }}</div>
        {% endif %}

        {% if params.link and params.linkButton %}
        <footer class="{{ params.footerClasses }}">
        {{ component('button', {
            url: params.link.url,
            text: params.link.text,
            classes: params.link.classes,
            target: params.link.target
        }) }}
        {% endif %}
        </footer>
    </div>
</article>