{# 
params:
    title <string>
    caption <string>
    action:
        url <string>
        text <string>
        external <boolean>
    image:
        src <string>
        alt <string>
    theme:
        image_position <string: "left" || "right">
        background <string>
 #}
{% if params.theme.image_position == "right" %}
    {% set imagePositionClasses = 'lg:col-start-3 lg:col-end-7 lg:row-start-1' %}
    {% set cardPositionClasses = 'lg:col-start-1 lg:col-end-4 lg:row-start-1 lg:h-full' %}
{% else %}
    {% set imagePositionClasses = 'lg:col-start-1 lg:col-end-5 lg:row-start-1' %}
    {% set cardPositionClasses = 'lg:col-start-4 lg:col-end-7 lg:row-start-1 lg:h-full' %}
{% endif %}
<section class="lg:py-8 border-b md:border-b-0" style="background: {% if params.theme.background %}{{ params.theme.background }}{% else %}#FBF9F3{% endif %};">
    <div class="lg:container">
    <div class="block overflow-hidden md:grid lg:grid-rows-1 lg:grid-cols-6">
        <img class="{{ imagePositionClasses }} lg:rounded-xl w-full" src="{{ params.image.src }}" alt="{{ params.image.alt }}" />
        <div class="{{ cardPositionClasses }} md:mx-6 lg:mx-auto md:-mt-8 lg:-mt-0 md:mb-8 lg:mb-auto flex flex-col justify-center">
            <div class="bg-white p-8 text-center md:text-left">
                <h1 class="text-4xl">{{ params.title }}</h1>
                <p class="text-xl">{{ params.text }}</p>
                {{ component('button', {
                    url: params.action.url,
                    text: params.action.text,
                    external: params.action.external
                }) }}
            </div>
        </div>
    </div>
    </div>
</section>