{# todo: Get this data from tagged pages. #}
{% 
    set pathways = collections.pathways | reverse
%}
<form 
class=""
x-cloak
x-data="{
    pathway: '{{ pathways[0].url }}'
}" 
x-on:submit="location = pathway; console.log(pathway);" 
@submit.prevent
>
    <label for="pathways">Choose your pathway</label>
    <div class="flex flex-col lg:flex-row flex-wrap gap-4">
        <select name="pathways" id="pathways" class="grow max-w-full text-lg md:max-w-sm" x-model="pathway">
            {% for pathway in pathways %}
            <option value="{{ pathway.url }}">{{ pathway.data.title }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Let's Go!" class="">
    </div>
</form>