{%- from "system/component.html" import component -%} 
{% set gridClasses = '' %}
{% set quoteClasses = 'w-[70vw] md:w-auto shrink-0 md:shrink snap-center' %}
{% for breakpoint, value in params.columns -%}
  {% set gridClasses  = [gridClasses, breakpoint + ':grid-cols-' + value + ' '] | join %}
{%- endfor -%}

<div class="overflow-x-scroll flex snap-x snap-mandatory md:grid px-8 md:px-0 {{ gridClasses }} gap-default">
{% for quote in params.items | reverse %}
    {% if params.quantity %}
        {% if loop.index0 < params.quantity %}
        {{ component('quote_teaser', {
            classes: quoteClasses,
            data: quote.data
        }) }}
        {% endif %}
    {% else %}
        {{ component('quote_teaser', {
            classes: quoteClasses,
            data: quote.data
        }) }}
    {% endif %}
{% endfor %}
</div>