@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* A11Y: Disable smooth scrolling for users who prefer reduced motion. */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

[x-cloak] { display: none !important; }

/* rounds the right side of a square */
.clip-rounded-right {
  /* clip-path: circle(100.0% at -1% 50%); */
  clip-path: ellipse(100% 140% at left);
}

/* Typography */

body {
  @apply font-sans text-black;
  background: #fafafa;
}

h1, h2, h3, h4 {
  @apply font-sans;
  @apply font-[700];
  @apply text-brand_blue;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}

svg {
  max-width: 100%;
}

.text-loose-caps {
  @apply uppercase tracking-widest text-sm;
}

input[type=submit] {
  @apply inline-block px-4 md:px-6 py-2 md:py-3 font-bold rounded-full bg-brand_lightblue text-white cursor-pointer;
}

input[type=submit]:hover {
  @apply hover:bg-brand_lightblue-hover;
}

img {
  max-width: 100%;
}

/* Forms */
select {
  @apply border;
  @apply border-brand_lightgrey;
  @apply rounded-lg;
}

*[disabled] {
  cursor: not-allowed !important;
}

/* Summary/Details */

summary { position: relative; list-style: none}
summary::-webkit-details-marker {display: none; }
details summary::before { 
  @apply bg-brand_lightblue;
  content: "+";
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  color: white;
  /* you can style it however you want, use background-image for example */
}

/* By using [open] we can define different styles when the disclosure widget is open */
details[open] summary::before { 
  content: "-"; 
}

/* Markdown Field styles */

.markdown-field h1, 
.markdown-field h2, 
.markdown-field h3, 
.markdown-field h4 {
  @apply text-brand_lightblue mt-6;
}

.markdown-field h2 {
  @apply text-3xl;
}

.markdown-field h3 {
  @apply pl-4 border-l-2 text-2xl text-brand_blue;
}

.markdown-field h4 {
  @apply pl-4 text-lg text-black border-l-2;
}

.markdown-field a {
  @apply hover:bg-brand_lightblue hover:text-white border-brand_lightblue border-b-2;
}

.markdown-field a.btn {
  @apply inline-block px-4 md:px-4 py-2 md:py-2 rounded-full font-bold bg-brand_lightblue text-white hover:bg-brand_lightblue-hover;
}

.markdown-field img {
  display: inline-block;
}

.markdown-field ul,
.markdown-field ol {
  @apply ml-6 mb-6;
}

.markdown-field ul {
  @apply list-decimal;
}

.markdown-field ul {
  @apply list-disc;
}

.markdown-field li {
  @apply mb-2;
}

.markdown-field hr {
  @apply my-8 border-t-2;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

.animate-scrolly {
  animation: animate-scrolly 240s linear infinite alternate;
}

@keyframes animate-scrolly {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 200%;
  }
}