{%- from "system/component.html" import component -%}
<section class="relative mb-4 border rounded-lg text-center hover:border-brand_blue overflow-hidden">
    {% image { 
        src: "./src/static/img/TeachWV-Career.jpg", 
        alt: "",
        styleName: "ad_small"    
    } %}
    <div class="p-4">
        <h1 class="text-xl mb-0">Find a Teaching Job <br/>in West Virginia</h1>

        <a href="https://wvde.us/human-resources/jobs-careers/job-opportunities/" rel="noopener" target="_blank" class="sr-only border-b">View Openings</a>
    </div>
    <a href="https://wvde.us/human-resources/jobs-careers/job-opportunities/" class="absolute top-0 left-0 w-full h-full" rel="noopener" target="_blank" aria-label="View Job Openings"></a>
</section>