{%- from "system/component.html" import component -%}
<section class="relative mb-4 border rounded-lg text-center hover:border-brand_blue overflow-hidden">
    {% image { 
        src: "./src/static/img/Become-a-Substitute_1280x480.jpg", 
        alt: "",
        styleName: "medium_half"
    } %}
    <div class="p-4">
        <h1 class="text-xl mb-0">Become a Substitute</h1>
    </div>
    <a href="/pathways-to-teaching/become-a-substitute/" class="absolute top-0 left-0 w-full h-full" aria-label="View Job Openings"></a>
</section>