{%- from "system/component.html" import component -%}
<section class="relative mb-4 border rounded-lg text-center hover:border-[#34575C] overflow-hidden">
    {% image { 
        src: "./src/static/img/babcock-grist-mill.jpg", 
        alt: "The iconic Babcock state park gristmill.",
        styleName: "ad_small"
    } %}
    <div class="p-4">
        <h1 class="text-xl text-[#34575C] mb-0">Discover WV Tourism</h1>

        <a href="https://wvtourism.com/" class="sr-only border-b" rel="noopener" target="_blank">WVtourism.com</a>
    </div>
    <a href="https://wvtourism.com/" rel="noopener" target="_blank" class="absolute top-0 left-0 w-full h-full" aria-label="View Tourism Website"></a>
</section>