{%- from "system/component.html" import component -%} 
<section class="relative py-12 md:py-20 bg-offwhite border-t">
    <div class="relative container z-20">
        <header class="text-center mb-16 max-w-2xl mx-auto">
            <h2 class="mb-6 text-4xl text-brand_blue">Why Wait? Get Started Today!</h2>
        </header>

        <div class="grid lg:grid-cols-3 gap-x-default gap-y-default">
            {% set teaserWrapperClasses = 'block md:flex lg:flex-col md:gap-x-default mb-6 text-center md:text-left lg:text-center h-full' %}
            {% set imageWrapperClasses = 'md:w-1/3 lg:w-full md:flex-shrink-0' %}
            {% set contentWrapperClasses = 'md:pt-2 lg:pt-0' %}
            <div>
                {{ component('teaser', {
                    wrapperClasses: teaserWrapperClasses,
                    imageWrapperClasses: imageWrapperClasses,
                    contentWrapperClasses: contentWrapperClasses,
                    footerClasses: 'mt-auto',
                    image: {
                        src: './src/static/img/TeachWV-Box-GamePlan-01.jpg',
                        alt: '',
                        width: 400,
                        height: 230
                    },
                    title: 'Make a Game Plan',
                    titleClasses: 'text-brand_lightblue',
                    body: 'Plan your next steps to become a teacher in West Virginia.',
                    link: {
                        url: '/make-a-game-plan/'
                    },
                    linkButton: false
                }) }}
            </div>

            <div>
                {{ component('teaser', {
                    wrapperClasses: teaserWrapperClasses,
                    imageWrapperClasses: imageWrapperClasses,
                    contentWrapperClasses: contentWrapperClasses,
                    footerClasses: 'mt-auto',
                    image: {
                        src: './src/static/img/TeachWV-DiscoverWV.jpg',
                        alt: '',
                        width: 400,
                        height: 230
                    },
                    title: 'Discover West Virginia',
                    titleClasses: 'text-brand_lightblue',
                    body: 'West Virginia is home to many best kept secrets - from beautiful landscapes to world-class outdoor adventures, our educators feel like they are working in (almost) heaven.',
                    link: {
                        url: 'https://wvtourism.com',
                        target: '_blank',
                        external: true
                    },
                    linkButton: false
                }) }}
            </div>

            <div>
                {{ component('teaser', {
                    wrapperClasses: teaserWrapperClasses,
                    imageWrapperClasses: imageWrapperClasses,
                    contentWrapperClasses: contentWrapperClasses,
                    footerClasses: 'mt-auto',
                    image: {
                        src: './src/static/img/TeachWV-Career.jpg',
                        alt: '',
                        width: 400,
                        height: 230
                    },
                    title: 'Find Your Career',
                    titleClasses: 'text-brand_lightblue',
                    body: 'Explore what the Mountain State has to offer. View teaching jobs in West Virginia.',
                    link: {
                        url: 'https://wvde.us/human-resources/careers/',
                        target: '_blank',
                        external: true
                    },
                    linkButton: false
                }) }}
            </div>


        </div>
    </div>
</section>