{%- from "system/component.html" import component -%} 
<section class="bg-brand_lightblue-11ty text-white py-14 text-center">
    <div class="container">
        <h1 class="text-4xl text-brand_yellow">Have Questions About Teaching in WV?</h1>
        <p class="text-xl">Schedule a one-on-one with a qualified staff member.</p>
        <div>
            {{ component('button', {
                url: '/contact-us',
                text: 'Contact Us',
                theme: 'light'
            }) }}
        </div>
    </div>
</section>