{{ component('image-and-card', {
    title: 'Discover West Virginia',
    text: 'West Virginia is home to many best kept secrets \– from beautiful landscapes to world-class outdoor adventures, our educators feel like they are working in (almost) heaven.',
    image: {
        src: 'https://via.placeholder.com/1600x900'
    },
    action: {
        url: 'https://wvtourism.com',
        text: 'Explore Tourism',
        external: true
    },
    theme: {
        image_position: 'left',
        background: '#576856'
    }
}) }}