{{ component('image-and-card', {
    title: 'Grow Your Own',
    text: "Designed to address West Virginia's critical teacher shortage, Grow Your Own Pathway to Teaching programs provide promising high school students a career path to pursue a career in education in " + growyourown.counties | filterByGYOCountyLabel("pilot") | length + " counties.",
    image: {
        src: "/static/img/gyo-hero_9-5.jpg"
    },
    action: {
        url: '/grow-your-own',
        text: 'Learn More',
        ariaLabel: 'Learn More about Grow Your Own'
    },
    theme: {
        image_position: 'left',
        background: '#38523D'
    }
}) }}