{%- from "system/component.html" import component -%} 
<section class="relative bg-offwhite text-center md:text-left">
    <div class="container">
        <div class="relative z-40 grid md:grid-cols-2 gap-default">
            <div class="flex flex-col justify-center py-12">
                <h1 class="text-4xl md:text-5xl text-brand_blue">Discover your Potential</h1>
                <p class="mb-6 text-lg md:text-xl text-brand_darkgrey">Whether you're a high school student, a college graduate, a certified teacher from out-of-state, returning to the classroom, or somewhere in-between, there is a pathway for you. Let us help you get there!</p>
                {% include 'components/form-pathways/form-pathways.html' %}
            </div>
            <div>
                <img src="https://via.placeholder.com/600x600" alt="">
            </div>
        </div>
    </div>
</section>