{{ component('image-and-card', {
    title: 'Veterans in the Classroom',
    text: 'WV recognizes veterans\' unique qualities in the classroom and provides specialized career counseling that can aid in transitioning veterans into a career in education.',
    image: {
        src: "/static/img/military-hero_16-9.jpg"
    },
    action: {
        url: '/become-a-teacher/military',
        text: 'Military Resources'
    },
    theme: {
        image_position: 'right',
        background: '#015698'
    }
}) }}