{{ component('image-and-card', {
    title: 'Free Praxis Preparation with Study.com!',
    text: 'Grow Your Own students will have free 12-month access to Praxis prep resources courtesy of <a href="https://study.com" class="underline">Study.com</a>. Only 400 licenses will be provided, and they will go fast! Contact your county Grow Your Own instructor for more information!',
    image: {
        src: "/static/img/study_com.jpg"
    },
    action: {
        url: 'https://study.com/blog/study-com-s-keys-to-the-classroom.html',
        text: 'Learn More',
        ariaLabel: 'Learn More about Study.com Praxis Preparation',
        external: true
    },
    theme: {
        image_position: 'left',
        background: '#3d0929'
    }
}) }}