{{ component('image-and-card', {
    title: 'Free Praxis Preparation with Study.com!',
    text: "Grow Your Own students will have free 12-month access to Praxis preparation resources courtesy of Study.com. Four-hundred licenses will be supplied to students enrolled in Grow Your Own Programs to support their study efforts for the Praxis exam. Exam prep resources included in Study.com's Keys to the Classroom initiative are Praxis Core, Praxis PLT and Praxis II Subject Assessments.",
    image: {
        src: "/static/img/study_com.jpg"
    },
    action: {
        url: 'https://study.com/blog/study-com-s-keys-to-the-classroom.html',
        text: 'Learn More',
        ariaLabel: 'Learn More about Study.com Praxis Preparation'
    },
    theme: {
        image_position: 'left',
        background: '#3d0929'
    }
}) }}