{%- from "system/component.html" import component -%} 
<section class="relative py-16 md:py-24 bg-white text-brand_darkgrey bg-line-sphere bg-no-repeat bg-right-bottom-over">
    <div class="container max-w-4xl mb-12">
        {{ component('titlebar', {
            title: {
                text: 'Stories from Educators',
                classes: 'text-brand_blue'
            },
            subtitle: {
                text: 'Hear from current and future educators who share their reasons behind choosing to join the education community and discover the benefits of becoming a teacher in West Virginia.'
            }
        }) }}
    </div>
    <div class="max-w-6xl mx-auto px-0 md:px-8">
    {% if collections.quotes %}
        {{ component('quotes_view', {
            items: collections.quotes,
            quantity: 6,
            columns: {
                'md': 2,
                'lg': 3
            }
        }) }}
        <div class="text-center pt-8">
            {{ component('button', {
                url: '/stories',
                text: 'More Stories'
            }) }}
        </div>
    {% else %}
        <div class="p-6 border-2 text-center rounded">Sorry, testimonials could not be loaded at this time.</div>
    {% endif %}
    </div>
</section>