{%- from "system/component.html" import component -%} 
<section class="relative py-16 md:py-24 bg-white text-brand_darkgrey bg-line-sphere bg-no-repeat bg-right-bottom-over">
    <div class="container max-w-4xl mb-12">
        {{ component('titlebar', {
            pretitle: {
                text: 'What should your child know?',
                classes: 'text-brand_blue'
            },
            title: {
                text: 'Understanding Your Child\'s Score Report',
                classes: 'text-brand_blue'
            },
            subtitle: {
                text: 'All students have academic strengths as well as areas where more support and improvement might be needed. The tests each student takes are meant to measure the skills in each subject. The interpretive guides provided below will help you to understand the printed reports sent home by your student\’s school.'
            }
        }) }}
    </div>
    <div class="container max-w-4xl">
        {% include 'partials/interpretive-guides.html' %}
    </div>
    <img src="/static/img/yellow_natural-dots.svg" alt="" width="300" class="hidden md:block absolute z-30 -top-44 left-0" loading="lazy" decoding="async">
</section>