---
layout: default
title: Grow Your Own Pathway
meta:
    description: "Designed to address West Virginia's critical need for teachers, Grow Your Own Pathway to Teaching programs provide promising high school students a career path to pursue a career in education."
tags: static
eleventyNavigation:
  order: 0
  title: Grow Your Own
  key: grow-your-own
  parent: become-a-teacher
---
{%- from "system/component.html" import component -%}

<div class="py-4">
    <div class="px-4 lg:container text-sm">
        {{ component('breadcrumb', {
            items: collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true })
        }) }}
    </div>
</div>

<div class="py-4 mb-24" style="background: #5a6236 url('/static/img/gyo-chalkboard.jpg') no-repeat; background-size: cover;">
    <div class="px-4 lg:container">
        {% image { 
            src: "./src/static/img/gyo-hero_wide.jpg",
            alt: "",
            cls: "block rounded-lg -mb-24",
            styleName: "large",
            lazy: false
        } %}
    </div>
</div>

<div class="container pt-8 md:pt-12 text-center mb-12">
    <h1 class="text-4xl md:text-5xl text-center text-brand_blue">{{ title }}</h1>
    <p class="text-xl max-w-4xl mx-auto">{{ meta.description }}</p>
</div>

{% set reasons = [
    "Early start on college.",
    "Reduced time to complete a bachelor's degree.",
    "Introduction to the education profession.",
    "Classroom observations and field experiences before college.",
    "Core Praxis exam for students in Year 2 (senior year) free of cost.",
    "Ability to earn salary, benefits, and seniority in residency year.",
    "Reduced cost (Students receive tuition free dual credit courses in the 2022-23 year.)"
] %}
<section class="border-t py-8 bg-brand_lightblue">
    <div class="container max-w-6xl">
    <div class="block md:grid md:grid-cols-5 gap-x-default">
        <div class="col-start-1 col-end-3">
        {{ component('titlebar', {
            title: {
                text: "Benefits",
                classes: "text-brand_yellow"
            },
            subtitle: {
                text: "There are many reasons to join the Grow Your Own Program.",
                classes: "text-white"
            },
            alignment: "left"
        }) }}
        </div>
        <div class="col-start-3 col-end-6">
            <ul class="grid md:grid-cols-2">
                {% for reason in reasons %}
                <li class="md:pr-8 mb-4">
                    <span class="text-lg bg-black/10 text-white">{{ reason }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

<section class="py-12">
    <div class="container max-w-6xl">
        <div class="block md:grid md:grid-cols-5 gap-x-default">
            <div class="col-start-1 col-end-3">
                {{ component('titlebar', {
                    title: {
                        text: "How it Works"
                    },
                    alignment: "left"
                }) }}
        
                <p class="text-lg">The Grow Your Own Pathway gives students a fast-track into the education field through a combination of dual enrollment/Advanced Placement courses and an accelerated pathway. Students can then graduate with a bachelor's degree in just three years.</p>
            </div>
            <div class="col-start-3 col-end-6">
                {{ component('tabs', {
                    tabs: [
                        {
                            title: "High School",
                            body: "<p>High School counselors and partnering institution faculty advisors will assist with scheduling, financial aid, testing requirements, etc. to enroll in the teaching pathway. The goal is for students to graduate high school with a minimum of 30 hours of dual enrollment/AP credits, including the four introductory education courses. Participants will enter college classified as a sophomore. During their junior and senior years of high school, students will have the opportunity to spend time in real-time classrooms in their home county schools.</p>"
                        },
                        {
                            title: "Year 1",
                            body: "<p>Upon graduation from high school and completion of the pathway, students will be admitted into the education program and begin classes the fall after high school graduation. You will take courses in both spring and fall.</p>"
                        },
                        {
                            title: "Year 2",
                            body: "<p>Complete coursework and required testing in the fall, spring, and summer (if needed) semesters.</p>"
                        },
                        {
                            title: "Year 3",
                            body: "<p>Participate in yearlong residency as the teacher of record with high levels of support from both the university and the county. Simultaneously, students may complete any remaining university classes in the fall and spring semesters. The county system will provide a cohort supervisor to mentor, coach, and support multiple teacher residents serving as teachers of record.</p>"
                        },
                        {
                            title: "After Graduation",
                            body: "<p>At the end of the third year at the university, students will have earned required credit hours and graduate with a bachelor's degree in education. Participating school districts agree to give hiring preference for teaching positions, when possible, to graduates of the West Virginia Grow Your Own Teaching Pathway Program.</p>"
                        }
                    ]
                }) }}
            </div>
        </div>
    </div>
</section>

<section class="border-t py-12">
    <div class="container max-w-6xl">
    <div class="block md:grid md:grid-cols-5 gap-x-default">
        <div class="col-start-1 col-end-4">
            {{ component('titlebar', {
                title: {
                    text: "Apprenticeship Model"
                },
                alignment: "left"
            }) }}
            <p class="text-lg">Designed to provide paid, on the job training, the WV Apprenticeship Model provides Grow Your Own students with wage-earning field experiences, preparing them for the teaching career while alleviating financial burdens. Students who have graduated high school and complete the Youth Apprenticeship are certified as a Teacher Apprentice by the U.S. Department of Labor.</p>
        </div>
        <div class="col-start-4 col-end-6">
            <div class="block p-8 border-2 rounded-lg bg-white text-center">
                <h2 class="text-xl">Free Resource</h2>
                <p>Download our guide to the West Virginia Apprenticeship Model.</p>
                {{ component('button', {
                    text: "Download",
                    url: "/static/files/teachwv-grow-your-own-apprenticeships.pdf"
                }) }}
            </div>
        </div>
    </div>
    </div>
</section>

<section class="border-t py-8 bg-white">
    <div class="container max-w-6xl">
    <div class="block md:grid md:grid-cols-5 gap-x-default">
        <div class="col-start-1 col-end-3 md:flex flex-col justify-center">
            {{ component('titlebar', {
                title: {
                    text: "Pilot Counties"
                },
                subtitle: {
                    text: "Grow Your Own Programs are being piloted in these " + growyourown.counties | filterByGYOCountyLabels(["pilot", "apprenticeship"]) | length + " West Virginia counties."
                },
                alignment: "left"
            }) }}

            <p>
            {% for county in growyourown.counties | filterByGYOCountyLabel("pilot") %}
                {% if loop.last %} and {% endif %}
                {{ county.label }}{% if county.fallstart %}<sup>*</sup>{% endif %}{% if not loop.last %},{% endif %}{% if loop.last %}.{% endif %}
            {% endfor %}
            </p>
            <p class="text-sm"><sup>*</sup> Pilot begins fall 2023.</p>
            <div>
                {% for label in growyourown.labels %}
                <div class="flex gap-x-4 align-center mb-2">
                    <div><div class="block w-[18px] h-[18px]" style="background: {% if label.style.background %}{{ label.style.background }}{% else %}#ccc{% endif %};"></div></div>
                    <div class="leading-none">{{ label.title }} ({{ growyourown.counties | filterByGYOCountyLabel(label.id) | length }})</div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-start-3 col-end-6">
            {{ component('countymap', {
                title: 'A Map of Grow Your Own Participating Counties',
                styles: {
                    global: [
                        ".shape { stroke: white; stroke-width: 2px; }",
                        ".label { paint-order: stroke; display: none; stroke-linejoin: bevel; text-transform: uppercase; font-family: Fira Sans, sans-serif; font-weight: 400; }"
                    ],
                    counties: [
                        {
                            ids: growyourown.counties | filterByGYOCountyLabel("pilot") | getPropertyValues("id"),
                            styles: [
                                ".shape { fill: #037baf; }", 
                                ".label { display: block; fill: white; stroke: #037baf; stroke-width: 7px; }"
                            ]
                        },
                        {
                            ids: growyourown.counties | filterByGYOCountyLabel("apprenticeship") | getPropertyValues("id"),
                            styles: [
                                ".shape { fill: #e7ac18; }",
                                ".label { display: block; fill: white; }"
                            ]
                        },
                        {
                            ids: ['brooke', 'ohio', 'marshall'],
                            styles: [
                                ".label { display: block; fill: #037baf; stroke-width: 0px; }"
                            ]
                        }
                    ]
            }
            }) }}
        </div>
    </div>
    </div>
</section>

{% set tabledata = {
    title: "Teaching Pathway 2022-2033: Student Sample Courses",
    classes: {
        tableWrapper: 'pl-6 md:pr-6',
        table: '',
        cell: 'min-w-[8em] px-2 py-2 border-r border-b'
    },
    columns: {
        grade: {
            label: "Grade",
            width: "60px",
            classes: {
                heading: "",
                cell: "font-bold"
            }
        },
        ela: {
            label: "English Language Arts",
            subtext: '(4 courses)',
            footnotes: ['1', '2']
        },
        math: {
            label: 'Math',
            subtext: '(4 courses)',
            footnotes: ['1', '2']
        },
        science: {
            label: "Science",
            subtext: '(4 courses)',
            footnotes: ['1', '2']
        },
        social: {
            label: "Social Studies",
            subtext: '(4 courses)',
            footnotes: ['1', '2']
        },
        other: {
            label: "Other",
            subtext: '(4 courses)',
            footnotes: ['1', '2']
        },
        dualcredit: {
            label: "Required Dual Credit Core Courses for GYO WV",
            subtext: '(4 courses)',
            footnotes: ['1', '2']
        }
    },
    body: [
        {
            grade: {
                text: "9"
            },
            ela: {
                text: "English 9"
            },
            math: {
                text: "Math I or Algebra I"
            },
            science: {
                text: 'Earth and Space Science'
            },
            social: {
                text: 'World Studies or AP Social Studies'
            },
            other: {
                text: 'World Languages Elective'
            },
            dualcredit: {
                text: "<ul>
                    <li class='mb-2'>1306 Introduction to Education and the Classroom <sup class='text-xs'><a href='#note-3'>3</a>, <a href='#note-4'>4</a></sup></li>
                    <li class='mb-2'>1307 Introduction to Child Development <sup class='text-xs'><a href='#note-3'>3</a>, <a href='#note-4'>4</a></sup></li>
                    <li class='mb-2'>1308 Introduction to Educational Psychology <sup class='text-xs'><a href='#note-3'>3</a>, <a href='#note-4'>4</a></sup></li>
                    <li class='mb-2'>1309 Introduction to Social Emotional and Behavioral Wellness <sup class='text-xs'><a href='#note-3'>3</a>, <a href='#note-4'>4</a></sup></li>
                </ul>",
                class: "bg-[#E7C66E]",
                rowspan: "0"
            }
        },
        {
            grade: {
                text: "10"
            },
            ela: {
                text: "English 10"
            },
            math: {
                text: "Math II or Geometry"
            },
            science: {
                text: "AP or Dual Credit Biology <sup><a href='#note-4'>4</a></sup>",
                class: "bg-[#E7C66E]"
            },
            social: {
                text: "AP/Dual Credit U.S. Studies Comprehensive or U.S. History <sup><a href='#note-4'>4</a></sup>",
                class: "bg-[#E7C66E]"
            },
            other: {
                text: 'The Arts'
            }
        },
        {
            grade: {
                text: "11"
            },
            ela: {
                text: "English 11: AP or Dual Credit English <sup><a href='#note-4'>4</a></sup>",
                class: "bg-[#E7C66E]"
            },
            math: {
                text: "Math III or Algebra II"
            },
            science: {
                text: 'Chemistry or AP or Dual Credit Chemistry'
            },
            social: {
                text: 'AP/Dual Credit U.S. Studies Comprehensive or U.S. History'
            },
            other: {
                text: 'Physical Education'
            }
        },
        {
            grade: {
                text: "12"
            },
            ela: {
                text: "English 12: AP or Dual Credit English <sup><a href='#note-4'>4</a></sup>",
                class: "bg-[#E7C66E]"
            },
            math: {
                text: "Dual Credit College Algebra; or AP Calculus <sup><a href='#note-4'>4</a></sup>",
                class: "bg-[#E7C66E]"
            },
            science: {
                text: "Dual Credit Physical Science"
            },
            social: {
                text: "AP or Dual Credit Psychology"
            },
            other: {
                text: "<ul>
                    <li class='mb-2'>Health</li>
                    <li class='mb-2'>BCA 1 (Business Computer Application)</li>
                    <li class='mb-2'>Other AP or Dual Credit Course</li>
                    </ul>"
            }
        }
    ],
    footnotes: {
        '1': {
            text: 'A minimum of 22 total credits required for high school graduation per <a href="http://wvde.state.wv.us/policies/policy.php?p=2510" class="underline">WVBE Policy 2510</a> (counties may require additional credits).'
        },
        '2': {
            text: "AP or Dual credit can replace any course."
        },
        '3': {
            text: "or equivalent courses as determined by county plan."
        },
        '4': {
            text: "Guaranteed transferable between participating institutions in the Grow Your Own WV Teaching Pathway network."
        }
    }
} %}
<section class="border-t py-12">
    <div class="container mb-12 max-w-6xl max-auto">
        {{ component('titlebar', {
            title: {
                text: "Sample Pathway"
            }
        }) }}
        <div class="grid md:grid-cols-2 gap-x-default">
            <p class="text-lg">The following course menu is a guidance template for students participating in the Grow Your Own teaching pathway with the goal to exit high school with a minimum of one year of college credit (24-30) hours toward a Bachelor's Degree in education.</p>

            <p>Highlighted courses are guaranteed transferable between participating institutions in the Grow Your Own WV Teaching Pathway network. Students should consult with their chosen post-secondary educational institution when choosing other course options and electives. For specific information, refer to individual county plans.</p>
        </div>
    </div>

    <div class="mx-auto max-w-6xl">
        {{ component('table', tabledata) }}

        <div class="mt-4 px-6"><p class="italic">Completion of the Grow Your Own teaching pathway should be listed on the final transcript. Support for Praxis preparation, including practice tests and financial support to cover the cost of testing, is available. For specific information, refer to individual county plans.</p></div>
    </div>
</section>

{% include 'blocks/study_com-teaser.html' %}

<section class="py-12">
    <div class="container max-w-6xl">
        <div class="block md:grid grid-cols-5 gap-x-default">
            <div class="col-start-1 col-end-3">
                <h2 class="text-3xl">Information</h2>
                <p class="mb-2">For more information about the Grow Your Own Pathway, please contact Dr. Carla Warren at the West Virginia Department of Education.</p>
            </div>
            <div class="col-start-3 col-end-6">
                {{ component('contact-card', {
                    name: 'Carla Warren, Ed.D., <abbr title="National Board Certified Teacher">NBCT</abbr>',
                    position: 'Officer, Educator Development and Support Services',
                    phone: '1-833-627-2833',
                    email: 'carla.warren@k12.wv.us',
                    classes: 'w-full',
                    image: {
                        src: '/static/img/portrait_warren-carla.jpg'
                    },
                    theme: '2'
                }) }}
            </div>
        </div>
    </div>
</section>

{% include 'blocks/gyo-press.html' %}

{% include 'blocks/become-a-teacher-resources.html' %}

{% include 'blocks/contact-prefooter.html' %}
