{#
params:
    classes
    item:
        title
        body
        classes:
            wrapper
            title
            body
#}
<div class="markdown-field">
    {% for item in params.data %}
    <details class="mb-2 border border-brand_lightgrey rounded-lg overflow-hidden {{ params.classes }} {{ item.classes.wrapper }}">
        <summary class="p-4 text-lg text-brand_lightblue font-bold cursor-pointer {{ item.classes.title }}">{{ item.title }}</summary>
        <div class="px-4 pb-4 {{ item.classes.body }}">{{ item.body | safe }}</div>
    </details>
    {% endfor %}
</div>