---
layout: default
title: Become a Teacher in WV
path: /become-a-teacher
meta:
    description: "There are many ways to become a teacher in West Virginia, and the pathway you choose will depend on your educational background and professional experiences."
tags: ['pages', 'static']
eleventyNavigation:
  order: 0
  title: Become a Teacher
  key: become-a-teacher
---
{%- from "system/component.html" import component -%}
<div class="py-4 mb-24" style="background-color: #668589;">
    <div class="px-4 lg:container">
        {% image { 
            src: "./src/static/img/Become-a-Teacher_1280x480.jpg", 
            alt: "",
            cls: "block rounded-lg -mb-24",
            styleName: "large",
            lazy: false
        } %}
    </div>
</div>

<div class="container py-8 md:py-12 text-center">
    <h1 class="text-4xl md:text-5xl text-center text-brand_blue">{{ title }}</h1>
    <p class="text-xl max-w-4xl mx-auto">There are many ways to become a teacher in West Virginia, and the pathway you choose will depend on your educational background and professional experiences.</p>
</div>

<section class="container pb-12 mb-12 max-w-5xl">
    <h2 class="text-2xl text-center text-brand_blue">Which Category Best Describes You?</h2>

    <div class="grid lg:grid-cols-3 gap-y-2 md:gap-2">
    {% for pathway in collections.pathways | reverse %}
        {{ component('linkbox', {
            url: pathway.url,
            text: pathway.data.title,
            theme: 'light'
        }) }}
    {% endfor %}
    </div>
</section>

<section class="pb-4 pt-12 bg-white border-t">
    <div class="container">
        <div class="grid lg:grid-cols-3 gap-x-default gap-y-default">
            <div>
                {{ component('teaser', {
                    image: {
                        src: './src/static/img/gyo-hero_9-5.jpg',
                        alt: ''
                    },
                    title: 'Grow Your Own',
                    body: "Designed to address West Virginia's need for teachers, Grow Your Own Pathway to Teaching programs provide promising high school students a career path to pursue a career in education in 37 counties.",
                    link: {
                        url: '/grow-your-own'
                    },
                    linkButton: false
                }) }}
            </div>
            <div>
                {{ component('teaser', {
                    image: {
                        src: './src/static/img/military-hero_9-5.jpg',
                        alt: ''
                    },
                    title: 'Veterans in the Classroom',
                    body: "West Virginia recognizes veterans' unique qualities in the classroom and provides specialized career counseling that can aid in transitioning veterans into a career in education.",
                    link: {
                        url: '/become-a-teacher/military'
                    },
                    linkButton: false
                }) }}   
            </div>
            <div>
                {{ component('teaser', {
                    image: {
                        src: './src/static/img/cte-welder_16-9.jpg',
                        alt: ''
                    },
                    title: 'Teaching Career Tech',
                    body: 'Coming Soon!',
                    linkButton: false
                }) }}
            </div>
        </div>
    </div>
</section>

{{ component('image-and-card', {
    title: 'New teachers: Six strategies for making your first year more manageable',
    image: {
        src: "/static/img/Become a Substitute.jpeg"
    },
    action: {
        url: '/new-teacher-first-year-strategies',
        text: 'Read article'
    },
    theme: {
        image_position: 'left',
        background: '#fff'
    }
}) }}

{% include 'blocks/become-a-teacher-resources.html' %}

{% include 'blocks/contact-prefooter.html' %}