---
layout: default
title: Become a Teacher in WV
path: /become-a-teacher
description: "There are many ways to become a teacher in West Virginia, and the pathway you choose will depend on your educational background and professional experiences."
---
{%- from "system/component.html" import component -%}
<div class="py-4 mb-24" style="background-color: #668589;">
    <div class="px-4 lg:container">
        <img src="https://via.placeholder.com/1280x480/33575C?text=Graphic" class="block rounded-lg -mb-24">
    </div>
</div>

<div class="container py-8 md:py-12 text-center">
    <h1 class="text-4xl md:text-5xl text-center text-brand_blue">{{ title }}</h1>
    <p class="text-xl max-w-4xl mx-auto">There are many ways to become a teacher in West Virginia, and the pathway you choose will depend on your educational background and professional experiences.</p>
</div>

<section class="container pb-12 mb-12 max-w-5xl">
    <h2 class="text-2xl text-center text-brand_blue">Which Category Best Describes You?</h2>

    <div class="grid lg:grid-cols-3 gap-y-2 md:gap-2">
    {% for pathway in collections.pathways | reverse %}
        {{ component('linkbox', {
            url: pathway.url,
            text: pathway.data.title,
            theme: 'light'
        }) }}
    {% endfor %}
    </div>
</section>

{% include 'blocks/become-a-teacher-resources.html' %}