---
layout: default
title: Explore the Profession
path: /explore-the-profession
description: "Why Teach in West Virginia? There are many reasons to explore the education profession."
---
{%- from "system/component.html" import component -%}
<div class="py-4 mb-24" style="background-color: #896688;">
    <div class="px-4 lg:container">
        <img src="https://via.placeholder.com/1280x480/5e2d5d?text=Graphic" class="block rounded-lg -mb-24">
    </div>
</div>

<div class="container pt-8 md:pt-12 text-center mb-12">
    <h1 class="text-4xl md:text-5xl text-center text-brand_blue">{{ title }}</h1>
    <p class="text-xl max-w-4xl mx-auto">Whether you’re a high school student, a college graduate, a certified teacher from out-of-state, returning to the classroom, or somewhere in between, there is a pathway for you.</p>
</div>

{% include 'blocks/why-teach.html' %}
{% include 'blocks/discover-wv.html' %}
{% include 'blocks/real-issues.html' %}
{% include 'blocks/teaching-benefits.html' %}
{% include 'blocks/celebrating-teacher-success.html' %}
{% include 'blocks/testimonials.html' %}
{% include 'blocks/contact-prefooter.html' %}