---
layout: default
title: Teach WV | Changing Lives in the Mountain State
path: home
meta:
    description: "Whether you're a high school student, a college graduate, a certified teacher from out-of-state, returning to the classroom, or somewhere in-between, there is a pathway for you. Let us help you get there!"
---
{%- from "system/component.html" import component -%}
{% include 'blocks/hero.html' %}
{% include 'blocks/top-destinations.html' %}
{% include 'blocks/grow-your-own-teaser.html' %}
{% include 'blocks/testimonials.html' %}
{% include 'blocks/additional-resources.html' %}
{% include 'blocks/contact-prefooter.html' %}