---
layout: default
title: Stories
path: /stories
description: ""
---
{%- from "system/component.html" import component -%} 
{% set videos = [
    {
        youtubeID: 'zxHLFizyVso',
        title: 'Autum Tusing, Elementary Education Major',
        subtitle: 'Autumn Tusing, an elementary education student at <a href="https://www.glenville.edu/">Glenville State University</a>, shares her reasons why she chose to pursue a career in education.'
    },
    {
        youtubeID: 'L688ZWN3PA4',
        title: 'Emily Hicks, First Generation College Student',
        subtitle: 'First-generation college student Emily Hicks discusses her choice to become a teacher.'
    },
    {
        youtubeID: 'MUe2tygnyeA',
        title: 'Josie Hill, Mathematics Education Major',
        subtitle: 'Josie Hicks, a mathematics education student at <a href="https://www.glenville.edu/">Glenville State University</a>, shares her experiences pursuing an education degree in West Virginia.'
    },
    {
        youtubeID: 'PH2z8XMfuQY',
        title: 'Karra Smith, Elementary Education Major',
        subtitle: 'Karra Smith, an elementary education major at <a href="https://www.glenville.edu/">Glenville State University</a>, explains how she has grown as a person and as a professional while pursuing a career as a teacher.'
    }
]
%}
<div class="py-12 bg-offwhite border-b">
    <div class="container text-center">
        <h1 class="text-5xl">{{ title }}</h1>
        <p class="text-xl max-w-4xl mx-auto">Hear from current and future educators who share their reasons behind choosing to join the eudcation community and discover the benefits of becoming a teacher in West Virginia.</p>
    </div>
</div>

<div class="container snap-y snap-mandatory">
    {% for video in videos %}
    <article class="py-8 border-b snap-start">
        <div class="max-w-3xl mx-auto">
            <div class="mb-6">
                <iframe id="ytplayer" class="w-full aspect-video" type="text/html" width="720" height="405"
            src="https://www.youtube.com/embed/{{ video.youtubeID }}"
            frameborder="0" allowfullscreen>
            </div>
            <div class="text-center">
                <h2 class="text-3xl">{{ video.title | safe }}</h2>
                <p class="text-lg markdown-field">{{ video.subtitle | safe }}</p>
            </div>
        </div>
    </article>
    {% endfor %}
</div>

<div class="container py-24">
    <h1 class="text-5xl mb-16 text-center">Testimonials</h1>
    {% if collections.quotes %}
        {{ component('quotes_view', {
            items: collections.quotes,
            columns: {
                'md': 2,
                'lg': 3
            }
        }) }}
    {% else %}
    <div class="p-6 border-2 text-center rounded">Sorry, testimonials could not be loaded at this time.</div>
    {% endif %}
</div>

