{% set isFront = (params.page.url == '/') %}
<div class="top-0 w-full z-50 py-4 md:py-4 border-solid border-t-4 border-t-brand_yellow {{ 'md:sticky bg-offwhite border-b border-b-brand_lightgrey' if not isFront else 'lg:absolute' }}">
    <nav class="block lg:flex px-8 lg:container max-w-4xl relative gap-x-16" x-data="{ isOpen: false }" @keydown.escape="isOpen = false">
        <div class="flex justify-between w-full lg:w-auto">
            <!-- Logo -->
            <div class="flex md:justify-center md:items-center">
                <a href="/" aria-label="Visit the homepage.">
                    <img src="/static/img/logo.svg" width="225" height="90" alt="">
                </a>
            </div>

            <!-- Navicon -->
            <button class="lg:hidden rounded-lg focus:outline-none focus:shadow-outline" @click="isOpen = !isOpen">
                <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                    <path x-show="!isOpen" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                    <path x-show="isOpen" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>

        <div class="hidden lg:flex w-full lg:w-auto" :class="{'flex': isOpen, 'hidden': !isOpen}">
        {% if params.navigation.items %}
            <ul class="block w-full lg:flex mt-6 lg:mt-0 gap-x-6 items-center">
            {% for item in params.navigation.items %}
                <li class="block border-t lg:border-0">
                    {% set isActivePage = (item.url + '/') == params.page.url %}
                    <a href="{{ item.url }}" class="block py-2 lg:py-1 lg:px-2 rounded font-bold text-brand_blue text-xl border-2 border-transparent lg:hover:border-brand_yellow lg:hover:bg-white {{ 'lg:border-brand_yellow lg:bg-white' if isActivePage }}">{{ item.text }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        </div>
    </nav>
</div>