<footer class="relative z-50 pt-20 md:pt-4 py-4 bg-footer text-white border-t border-white border-opacity-20">
    <div class="container">
        <div class="block md:grid grid-cols-2 gap-x-24">
            <div id="back-to-top" class="absolute -top-4 left-1/2 transform -translate-x-1/2 bg-red">
                <a href="#top">
                    <div class="relative block bg-white rounded-full w-8 h-8 mx-auto mb-2 shadow">
                        <img src="/static/img/icon-chevron-up.svg" width="14" height="8" alt="" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 mx-auto">
                    </div>
                    <span class="uppercase tracking-widest">Back to Top</span>
                </a>
            </div>
            <div class="col-start-2 row-start-1 text-center md:text-right mb-4 md:mb-0">
                <a href="https://wvde.us" aria-label="Visit the West Virginia Department of Education website.">
                    <img src="/static/img/logo-horizontal.svg" alt="WV Department of Education" class="inline-block" style="max-width: 16rem;" width="745" height="182">
                </a>
            </div>
            <div class="col-start-1 row-start-1 flex justify-center md:justify-start items-center">
                <div>&copy; {% year %} {{settings.organization}}. <a href="/attributions" class="underline">Attributions</a></div>
            </div>
        </div>
    </div>
</footer>
